body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

legend {
  line-height: 18px;
  color: #3c3b3b;
  padding: 8px 10px;
  background: #dfdbdb;
  background: rgba(220, 218, 218, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.legend i {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}